<!DOCTYPE html>
<html lang="en">
  <head>
   <%-include('./includes/head') %>
   <style>
    
   </style>
  </head>
  <body>
   <%-include('./includes/header') %>
   <%-include('./includes/sideDrawer') %>
    <main>
            <h1>UH, SOMETHING WENT WRONG! 😥 </h1>
      </p>
    </main>
  </body>
</html>
